<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Registration Form Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Student Login</h1>
   <div class="login-page" >
   <div class="form" method="post" action="/auth/student_register">
       


       <form class="login-form" method="post">
        <input type="text" placeholder="college_reg_no" name="college_reg_no" />
        <input type="password" placeholder="password" name="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="/auth/student_register">Regsiter </a></p>

        </form>



   </div>
   </div> 

   <script src='https://code.jquery.com/jquery-3.6.1.min.js'></script>
   <script>
    $('.message a').click(function(){
    $('form').animate({height;"toggle",opacity:"toggle"},"slow");
    });
   </script>
</body>
</html>