<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" method="post" action="/auth/faculty_register">
             <input type="text" placeholder="Teacher Register Number" name="college_reg_no"/>
             <input type="text" placeholder="Email Id" name="email"/>
             <input type="text" placeholder="Password" name="password"/>
             <button>Sign Up</button>
             <p class="message">Already registered? <a href="/auth/faculty_login">login</a></p>
            </form>
        </div>
    </div> 
      
    
</body>
</html>